.btn {
  width: 100%;
  cursor: pointer;
  background-color: var(--secondary-color);
  color: var(--white);
  border: 0;
  border-radius: 0.5rem;
  padding: 1rem;

  &:hover {
    background: linear-gradient(90deg, var(--gradient));
    box-shadow: 0 0.33rem 1.25rem var(--primary-color);
  }
}
