.wrapper {
  display: flex;
  flex-direction: column;

  & > div {
    display: inline-flex;
    justify-content: space-between;
  }

  & label {
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  .label_error {
    color: var(--primary-color);
  }

  & input {
    border: 1px solid var(--grey);
    padding: 1rem;
    border-radius: 0.5rem;

    &::placeholder {
      opacity: 0.75;
    }

    &:focus-visible {
      outline: 1px solid var(--secondary-color) !important;
    }
  }

  .inputError {
    background-color: hsla(4, 100%, 67%, 0.25);
    color: var(--primary-color);
    border-color: var(--primary-color);

    &:focus-visible {
      outline: 1px solid var(--primary-color) !important;
    }
  }
}
