:root {
  --mobile: 375px;
  --desktop: 1440px;
  --primary-color: hsl(4, 100%, 67%);
  --secondary-color: hsl(234, 29%, 20%);
  --tertiary-color: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
}
