:root {
  /* Color */
  --primary-color: hsl(4, 100%, 67%);
  --secondary-color: hsl(234, 29%, 20%);
  --tertiary-color: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
  --gradient: hsl(346, 100%, 66%), hsl(4, 100%, 67%);
}
